In [2]:
# Import the necessary libraries
import pandas as pd
from sklearn.ensemble import IsolationForest

# Load the dataset
data = pd.read_csv('RTT_SUMMARY.csv')
data.head()

/Users/sarahdivakarla/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (26,33,34,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,objectid,document_id,document_type,display_date,street_address,zip_code,ward,grantors,grantees,cash_consideration,...,street_postdir,reg_map_id,matched_regmap,opa_account_num,legal_remarks,discrepancy,property_count,record_id,lat,lng
0,123289017,53632042,POWER OF ATTORNEY,2020-02-14,NaN,NaN,NaN,BANK OF NEW YORK MELLON TRUST COMPANY NA TR,COMPULINK CORPORATION;CELINK,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,536320420,NaN,NaN
1,123289827,53638668,POWER OF ATTORNEY,2020-03-02,NaN,NaN,NaN,SPECIALIZED LOAN SERVICING LLC,SELECT PORTFOLIO SERVICING INC,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,536386680,NaN,NaN
2,123288618,53623033,MORTGAGE,2020-01-23,3165 DENFELD PL,191455420.0,NaN,DOLCE SALVATORE,PNC BANK NATIONAL ASSOCIATION,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,536230330,NaN,NaN
3,123288314,53618935,RELEASE OF MORTGAGE,2020-01-14,NaN,NaN,NaN,ROYAL BANK OF CANADA,CONTANDA TERMINALS LLC;WESTWAYTERMINAL COMPANY...,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,536189350,NaN,NaN
4,123289938,53656186,POWER OF ATTORNEY,2020-04-09,NaN,NaN,NaN,TRUIST BANK,JPMORGAN CHASE BANK NATIONAL ASSOCIATION,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,536561860,NaN,NaN

In [3]:
# Look for Null Values
data.isnull().sum()

objectid                             0
document_id                          0
document_type                      878
display_date                         0
street_address                   14986
zip_code                         85679
ward                             51473
grantors                            11
grantees                            15
cash_consideration              130863
other_consideration             493839
total_consideration             130862
assessed_value                  491206
common_level_ratio              495202
fair_market_value               491206
state_tax_amount                495201
state_tax_percent               495193
local_tax_amount                495744
local_tax_percent               495193
adjusted_cash_consideration     130863
adjusted_other_consideration    493858
adjusted_total_consideration    130862
adjusted_assessed_value         491210
adjusted_fair_market_value      491210
adjusted_state_tax_amount       495205
adjusted_local_tax_amount       495748
receipt_num                     623864
receipt_date                         1
recording_date                       0
document_date                   495660
condo_name                      585918
unit_num                        563472
address_low                      15031
address_low_suffix              622223
address_low_frac                623367
address_high                    590856
street_predir                   405707
street_name                      14990
street_suffix                    15211
street_postdir                  623703
reg_map_id                      522935
matched_regmap                  125881
opa_account_num                  72375
legal_remarks                   605090
discrepancy                     426070
property_count                       0
record_id                            0
lat                              51464
lng                              51464
dtype: int64

In [5]:
dfresult = data.dropna(axis=1)
dfresult.head()

,objectid,document_id,display_date,recording_date,property_count,record_id
0,123289017,53632042,2020-02-14,2020-02-14,1.0,536320420
1,123289827,53638668,2020-03-02,2020-03-02,1.0,536386680
2,123288618,53623033,2020-01-23,2020-01-23,1.0,536230330
3,123288314,53618935,2020-01-14,2020-01-14,1.0,536189350
4,123289938,53656186,2020-04-09,2020-04-09,1.0,536561860

In [ ]:
# Create the model
model = IsolationForest(n_estimators=100, contamination=0.01)

# Fit the model
model.fit(data)

# Predict the outliers
outliers = model.predict(data)

# Print the outliers
print(outliers)